
<ul class="navbar nav-pills navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="active"><img class="w-25" src="assets/img/FreeBetBleu.PNG"></a>
  </div>
  <li class="nav-item">
    <a class="nav-link text-white" [routerLink]="['/sport/53/detail']" routerLinkActive="active"><i class="fas fa-futbol"></i>Football</a>
    <ul class="dropdown-menu">
      <li><a href="#">Game</a></li>
      <li><a href="#">Opponent</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" [routerLink]="['/rugby']" routerLinkActive="active">Rugby</a>
    <ul class="dropdown-menu">
      <li><a href="#">Game</a></li>
      <li><a href="#">Opponent</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" [routerLink]="['/sport/2/detail']" routerLinkActive="active">Tennis</a>
    <ul class="dropdown-menu">
      <li><a href="#">Game</a></li>
      <li><a href="#">Opponent</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" [routerLink]="['/sport/1/detail']" routerLinkActive="active">Basket</a>
    <ul class="dropdown-menu">
      <li><a href="#">Game</a></li>
      <li><a href="#">Opponent</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" [routerLink]="['/skiAlpin']" routerLinkActive="active">Ski Alpin</a>
    <ul class="dropdown-menu">
      <li><a href="#">Game</a></li>
      <li><a href="#">Opponent</a></li>
    </ul>
  </li>
  <ul class="navbar nav-pills navbar-fixed-top ">
    <li><a class="text-white" href="#"><span class="glyphicon glyphicon-user"></span> S'insrire</a></li>
    <li><a class="text-white" href="#"><span class="	glyphicon glyphicon-log-in"></span> Se connecter</a></li>
  </ul>
</ul>


<div class="container">
  <router-outlet></router-outlet>
</div>
<ng-content></ng-content>
