<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
  <mdb-navbar-brand>
    <a class="navbar-brand" href="#" [routerLink]="['/home']" routerLinkActive="active"><img height="50" class="d-inline-block align-top" src="assets/img/FreeBetBleu.PNG"></a>
  </mdb-navbar-brand>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item" dropdown>
      <a mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" [routerLink]="['/sport', '53', 'detail']" routerLinkActive="active" mdbWavesEffect><i class="fas fa-futbol"></i>
        Football</a>
    </li>
    <li class="nav-item dropdown" dropdown>
      <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" [routerLink]="['/sport/:id/detail']" routerLinkActive="active" mdbWavesEffect>
        Rugby<span class="caret"></span></a>
    </li>
    <li class="nav-item dropdown" dropdown>
      <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" [routerLink]="['/sport/:id/detail']" routerLinkActive="active" mdbWavesEffect><i class="fas fa-table-tennis"></i>
        Tennis<span class="caret"></span></a>
    </li>
    <li class="nav-item dropdown" dropdown>
      <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" [routerLink]="['/sport/:id/detail']" routerLinkActive="active" mdbWavesEffect><i class="fas fa-basketball-ball"></i>
        Basket<span class="caret"></span></a>
    </li>

  </ul>
  <ul class="navbar-nav nav-flex-icons">
    <li class="nav-item waves-light" mdbWavesEffect>
      <a class="nav-link"><fa name="fas fa-sign-out-alt"></fa></a>
    </li>
    <li class="nav-item waves-light" mdbWavesEffect>
      <a class="nav-link"><fa name="fas fa-user-plus" ></fa></a>
    </li>
  </ul>
</mdb-navbar>


<div class="container">
  <router-outlet></router-outlet>
</div>
<ng-content></ng-content>
