
<body>

<div class="bg"></div>

<p class="py-5 text-center"></p>



<h1 class="titre">Prépares tes paris {{sport?.nom}}</h1>
<h1 style="color: blue" class="titre">Prépare tes paris {{sport?.nom}}</h1>

<div class="game text-center">
  <ul  class="listematch" role="listbox" tabindex="0" aria-label="Choix des matchs">
    <li class="match" tabindex="-1" role="option" aria-checked="false" *ngFor="let game of games">{{game.opponent1?.nom}} - {{game.opponent2?.nom}}
      <br>

        <label  class="btn btn-primary active">
          <input type="radio" name="g{{game.id}}" [disabled]="!game.checked"> {{game.cote1}}
        </label>
      <div *ngIf="game.coteN!=null">
        <label class="btn btn-primary active">
          <input type="radio" name="g{{game.id}}"  [disabled]="!game.checked"> {{game.coteN}}
        </label>
      </div>
        <label class="btn btn-primary active">
          <input type="radio" name="g{{game.id}}"  [disabled]="!game.checked"> {{game.cote2}}
        </label>


    </li>
  </ul>
</div>

<br>

<div class="text-center">
  <a class="button" mdbBtn [routerLink]="['/login']" routerLinkActive="active" role="button" mdbWavesEffec ><h3>Pariez !</h3></a>
</div>

</body >
<footer >
<br>
  <br>
  <br>
  <br>
  <br>
</footer>
