<body>
<div class="py-5 text-center">
<h1 class="titre">Prêts à parier ?</h1>
<b><h5 style="color: #4471eb"> Mises sur un match de {{sport?.nom}}</h5></b>
</div>


<div class="game text-center" style="align-self: center" >
  <ul  class="listematch" role="listbox" tabindex="0" aria-label="Choix des matchs">
    <li class="match " tabindex="-1" role="option" aria-checked="false" *ngFor="let game of games">{{game.opponent1?.nom}} - {{game.opponent2?.nom}}<br>
      <label  class="btn btn-primary active">
        <input type="radio" name="g{{game.id}}" [disabled]="!game.checked"> {{game.cote1}}
      </label>
      <label class="btn btn-primary active" *ngIf="game.coteN!=null">
        <input type="radio" name="g{{game.id}}"  [disabled]="!game.checked"> {{game.coteN}}
      </label>
      <label class="btn btn-primary active">
        <input type="radio" name="g{{game.id}}"  [disabled]="!game.checked"> {{game.cote2}}
      </label>
    </li>
  </ul>
</div>

<br>
<div class="text-center">
  <a class="button" mdbBtn [routerLink]="['/login']" routerLinkActive="active" role="button" mdbWavesEffec *ngIf="!homeService.logInfo().connected" ><h3>Pariez !</h3></a>
</div>
<div class="text-center">
  <a class="button" mdbBtn [routerLink]="['/bet']" routerLinkActive="active" role="button" mdbWavesEffec *ngIf="homeService.logInfo().connected && homeService.logInfo().bettor"><h3>Pariez !</h3></a>
</div>
</body>
<footer >

</footer>
