
<div class="card mt-3">
  <div class="card-header bg-primary text-white">Formulaire d'inscription</div>
  <div class="card-body">
    <div class="form-group">
      <label for="nom">Nom:</label>
      <input type="text" class="form-control" placeholder="Entrer le nom" id="nom" [(ngModel)]="currentBettor.nom">
    </div>
    <div class="form-group">
      <label for="prenom">Prénom:</label>
      <input type="text" class="form-control" placeholder="Entrer le prénom" id="prenom"
             [(ngModel)]="currentBettor.prenom">
    </div>
    <div class="form-group">
      <label for="ddn">Date de naissance:</label>
      <input type="date" class="form-control" placeholder="Entrer la Date de naissance" id="ddn"
             [ngModel]="currentBettor.ddn | date:'yyyy-MM-dd'" (ngModelChange)="currentBettor.ddn=$event">
    </div>
    <div class="form-group">
      <label for="solde">Solde de Cagnotte:</label>
      <input type="number" class="form-control" placeholder="Entrer le solde de la cagnotte" id="solde"
             [(ngModel)]="currentBettor.soldeCagnotte">
    </div>
    <div class="form-group">
      <label for="civilite">Civilité:</label>
      <select class="form-control" placeholder="Entrer la civilité" id="civilite" [(ngModel)]="currentBettor.civilite">
        <option value="{{civ}}" *ngFor="let civ of civilites()">{{civ}}</option>
      </select>
    </div>
    <fieldset>
      <legend>Adresse</legend>
      <div class="form-group">
        <label for="rue">Rue:</label>
        <input type="text" class="form-control" placeholder="Entrer la rue" id="rue"
               [(ngModel)]="currentBettor.adress.rue">
      </div>
      <div class="form-group">
        <label for="codePostal">Code postal:</label>
        <input type="text" class="form-control" placeholder="Entrer le code postal" id="codePostal"
               [(ngModel)]="currentBettor.adress.codePostal">
      </div>
      <div class="form-group">
        <label for="ville">Ville:</label>
        <input type="text" class="form-control" placeholder="Entrer la ville" id="ville"
               [(ngModel)]="currentBettor.adress.ville">
      </div>
      <div class="form-group">
        <label for="pays">Pays:</label>
        <input type="text" class="form-control" placeholder="Entrer le pays" id="pays"
               [(ngModel)]="currentBettor.adress.pays">
      </div>
    </fieldset>
    <fieldset>
      <legend>Login</legend>
      <div class="form-group">
        <label for="pseudo">Pseudo:</label>
        <input type="text" class="form-control" placeholder="Entrer le pseudo" id="pseudo"
               [(ngModel)]="currentBettor.login.pseudo">
      </div>
      <div class="form-group">
        <label for="mail">Mail:</label>
        <input type="text" class="form-control" placeholder="Entrer le mail" id="mail"
               [(ngModel)]="currentBettor.login.mail">
      </div>
      <div class="form-group">
        <label for="mdp">MotDePasse:</label>
        <input type="password" class="form-control" placeholder="Entrer le mot de passe" id="mdp"
               [(ngModel)]="currentBettor.login.motDePasse">
      </div>
    </fieldset>
  </div>
  <div class="card-footer">
    <div class="btn-group btn-group-lg">
      <button type="button" class="btn btn-primary" (click)="save()">
        <fa name="check"></fa>
      </button>
      <button type="button" class="btn btn-warning" (click)="cancel()">
        <fa name="undo" inverse="true"></fa>
      </button>
    </div>
  </div>
</div>
