<div class="card card-cascade narrower text-center">
  <div
    class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
    <b><a href="" class="text-warning mx-3">Matchs</a></b>
  </div>
  <div class="px-4">
    <div class="table-wrapper">
      <table class="table table-hover mb-0">
        <thead style="background-color: #adacad">
        <tr>
          <th class="th-lg">Sport</th>
          <th class="th-lg">Adversaire 1</th>
          <th class="th-lg">Adversaire 2</th>
          <th class="th-lg">Date de la rencontre</th>
<!--          <th class="th-lg">Date fin de rencontre</th>-->
          <th class="th-lg">Cote1</th>
          <th class="th-lg">CoteN</th>
          <th class="th-lg">Cote2</th>
          <th class="th-lg">Match terminé</th>
  </tr>
  </thead>

  <tbody>
  <tr style="background-color: #ecebed" *ngFor="let game of list()">
<!--    <th scope="row"></th>-->
    <td (click)="detail(content, game.id)" style="cursor: pointer">{{game.sport_game?.nom}}</td>
    <td (click)="detail(content, game.id)" style="cursor: pointer">{{game.opponent1?.nom}}</td>
    <td (click)="detail(content, game.id)" style="cursor: pointer">{{game.opponent2?.nom}}</td>
    <td (click)="detail(content, game.id)" style="cursor: pointer">{{game.gameDate| date:'yyyy-MM-dd HH:mm' }}</td>
<!--    <td (click)="detail(content, game.id)" style="cursor: pointer">{{game.gameEnd| date:'yyyy-MM-dd HH:mm' }}</td>-->
    <td (click)="detail(content, game.id)" style="cursor: pointer">{{game.cote1}}</td>
    <td (click)="detail(content, game.id)" style="cursor: pointer">{{game.coteN}}</td>
    <td (click)="detail(content, game.id)" style="cursor: pointer">{{game.cote2}}</td>
    <td (click)="detail(content, game.id)" style="cursor: pointer">
      <fa name="check" size="2x" *ngIf="game.resultatMatch!=false" style="color: green"></fa>
    </td>

<!--    <td (click)="detail(content, game.id)" style="cursor: pointer">{{game.gameDone}}</td>-->

    <td>
      <div class="btn-group btn-group-sm" *ngIf="!readOnly">
        <button type="button" class="btn btn-info" (click)="edit(game.id)"><i class="fas fa-edit"></i>
        </button>
        <button type="button" class="btn btn-danger" (click)="delete(game.id)">
          <fa name="trash" inverse="true"></fa>
        </button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<div class="card-footer">
  <button type="button" class="btn btn-success btn-lg" (click)="add()" *ngIf="!readOnly">
    <fa name="plus"></fa>
  </button>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Détail des matchs</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-sm">
      <tbody>

      <tr>
        <th>Sport</th>
        <td>{{modalGame.sport_game?.nom}}</td>
      </tr>
      <tr>
        <th>Opponent 1</th>
        <td>{{modalGame?.opponent1.nom}}</td>
      </tr>
      <tr>
        <th>Opponent 2</th>
        <td>{{modalGame?.opponent2.nom}}</td>
      </tr>
      <tr>
        <th>Date de la rencontre</th>
        <td>{{modalGame?.gameDate| date:'yyyy-MM-dd\'T\'HH:mm' }}</td>
      </tr>
      <tr>
        <th>Date de fin de rencontre</th>
        <td>{{modalGame?.gameEnd| date:'yyyy-MM-dd\'T\'HH:mm' }}</td>
      </tr>
      <tr>
        <th>Cote 1</th>
        <td>{{modalGame?.cote1}}</td>
      </tr>
      <tr>
        <th>Cote N</th>
        <td >{{modalGame?.coteN}}</td>
      </tr>
      <tr>
        <th>Cote 2</th>
        <td>{{modalGame?.cote2}}</td>
      </tr>
      <tr>
        <th>Match terminé</th>
        <td>{{modalGame?.resultatMatch}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<div class="card mt-3" *ngIf="currentGame && !readOnly" >
  <div class="card-header bg-primary text-white">Edition d'une rencontre</div>
  <div class="card-body">
    <div class="form-group">
      <label for="sport">Sport:</label>
      <select class="form-control"id="sport" [(ngModel)]="currentGame.sport_game.id">
        <option value="{{sp.id}}" *ngFor="let sp of sport()">{{sp.nom}}</option>
      </select>
      <div class="form-group" *ngIf="sportService.sports">
        <label for="opp1">Championnat:</label>
        <select class="form-control" id="champ">
          <option value="{{champ}}" *ngFor="let champ of championnat()">{{champ}}</option>
        </select>
      </div>
      <div class="form-group" *ngIf="currentGame.sport_game">
        <label for="opp1">Adversaire 1:</label>
        <select class="form-control" id="opp1" [(ngModel)]="currentGame.opponent1.id">
          <option value="{{oppo1.id}}" *ngFor="let oppo1 of opponent()">{{oppo1.nom}}</option>
        </select>
      </div>
      <div class="form-group" *ngIf="currentGame.sport_game">
        <label for="opp2">Adversaire 2:</label>
        <select class="form-control" id="opp2" [(ngModel)]="currentGame.opponent2.id" >
          <option value="{{oppo2.id}}" *ngFor="let oppo2 of opponent()">{{oppo2.nom}}</option>
        </select>
      </div>
    <div class="form-group">
      <label for="dtGame">Date de la rencontre:</label>
      <input type="datetime-local" class="form-control" placeholder="Entrer la date de la rencontre" id="dtGame"
             [ngModel]="currentGame.gameDate | date:'yyyy-MM-dd\'T\'HH:mm'" (ngModelChange)="currentGame.gameDate=$event">
    </div>
    <div class="form-group">
      <label for="dtEnd">Date de fin de rencontre:</label>
      <input type="datetime-local" class="form-control" placeholder="Entrer la date de la fin de rencontre" id="dtEnd"
             [ngModel]="currentGame.gameEnd | date:'yyyy-MM-dd\'T\'HH:mm'" (ngModelChange)="currentGame.gameEnd=$event">
    </div>
    <div class="form-group">
      <label for="cote1">Cote 1:</label>
      <input type="number" class="form-control" placeholder="Entrer la cote 1" id="cote1" [(ngModel)]="currentGame.cote1">
    </div>
  </div>
  <div class="form-group">
    <label for="coteN">Cote N:</label>
    <input type="number" class="form-control" placeholder="Entrer la cote N" id="coteN" [(ngModel)]="currentGame.coteN">
  </div>
<div class="form-group">
  <label for="cote2">Cote 2:</label>
  <input type="number" class="form-control" placeholder="Entrer la cote 2" id="cote2" [(ngModel)]="currentGame.cote2">
</div>
<div class="form-group form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" [(ngModel)]="currentGame.resultatMatch"> Match terminé
  </label>
</div>
<div class="card-footer">
  <div class="btn-group btn-group-lg">
    <button type="button" class="btn btn-primary" (click)="save()">
      <fa name="check"></fa>
    </button>
    <button type="button" class="btn btn-warning" (click)="cancel()">
      <fa name="undo" inverse="true"></fa>
    </button>
  </div>
</div>
  </div>
</div>



