<div class="card mt-3">
  <div class="card-header bg-primary text-white">Liste des bets</div>
  <div class="card-body">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Mise</th>
        <th scope="col">Resultat du Pari</th>
        <th scope="col">Type du Bet</th>
        <th scope="col">Date du Bet</th>
        <th scope="col">Gain</th>
        <th scope="col">Games</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let bet of list()">
        <td (click)="detail(content, bet.id)" style="cursor: pointer">{{bet.mise}}</td>
        <td (click)="detail(content, bet.id)" style="cursor: pointer">{{bet.resultatPari}}</td>
        <td (click)="detail(content, bet.id)" style="cursor: pointer">{{bet.type}}</td>
        <td (click)="detail(content, bet.id)" style="cursor: pointer">{{bet.betDate | date:'yyyy-MM-dd HH:mm' }}</td>
        <td (click)="detail(content, bet.id)" style="cursor: pointer">{{bet.gain}}</td>
        <td (click)="detail(content, bet.id)" style="cursor: pointer" >
          <ul *ngFor="let game of bet.games">
            <li>{{game.id}}</li>
                <ul>
                  <li >Côte 1: {{game.cote1}}</li>
                  <li >Côte N: {{game.coteN}}</li>
                  <li >Côte 2: {{game.cote2}}</li>
              </ul>
          </ul>
        </td>
        <td (click)="detail(content, bet.id)" style="cursor: pointer">{{bet.bettor}}</td>
        <td>
          <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-info" (click)="edit(bet.id)">
              <fa name="pencil"></fa>
            </button>
            <button type="button" class="btn btn-danger" (click)="delete(bet.id)">
              <fa name="trash" inverse="true"></fa>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="card-footer">
      <button type="button" class="btn btn-success btn-lg" (click)="add()">
        <fa name="plus"></fa>
      </button>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Détail du pari</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-sm">
      <tbody>
      <tr>
        <th>Identifiant</th>
        <td>{{modalBet?.id}}</td>
      </tr>
      <tr>
        <th>Version</th>
        <td>{{modalBet?.version}}</td>
      </tr>
      <tr>
        <th>Mise</th>
        <td>{{modalBet?.mise}}</td>
      </tr>
      <tr>
        <th>Resultat du bet</th>
        <td>{{modalBet?.resultatPari}}</td>
      </tr>
      <tr>
        <th>Date de bet</th>
        <td>{{modalBet?.betDate | date:'yyyy-MM-dd HH:mm'}}</td>
      </tr>
      <tr>
        <th>Gain</th>
        <td>{{modalBet?.gain}}</td>
      </tr>
      <tr>
        <th>Games</th>
        <ul *ngFor="let game of modalBet.games">
         <li>{{game.id}}</li>
        </ul>
      </tr>
      <tr>
        <th>Pseudo</th>
        <td>{{modalBet?.bettor.login.pseudo}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<div class="card mt-3" *ngIf="currentBet">
  <div class="card-header bg-primary text-white">Edition d'un Pari</div>
  <div class="card-body">
    <div class="form-group">
      <label for="mise">Mise du pari:</label>
      <input type="text" class="form-control" placeholder="Entrer la mise du pari" id="mise" [(ngModel)]="currentBet.mise">
    </div>


    <div class="form-group">
      <label for="typepari">Type de pari</label>
      <select class="form-control" id="typepari" [(ngModel)]="currentBet.type">
        <option value="{{typepari}}" *ngFor="let typepari of typeBets()">{{typepari}}</option>
      </select>
    </div>



    <div class="form-group">
      <label for="choixmatch">Choix du match</label>

          <select class="form-control" id="choixmatch" [(ngModel)]="currentBet.games">
              <option value="{{choixmatch}}" *ngFor="let choixmatch of betgames()">{{choixmatch.id}}</option>
          </select>



      <div><button type="button" class="btn btn-success btn-lg" *ngFor="let choixmatch of betgames()">{{choixmatch.cote1}}</button></div>
    <div><button type="button" class="btn btn-success btn-lg" value="{{coteN}}" *ngFor="let coteN of betgames()">{{coteN.coteN}}</button></div>
    <div><button type="button" class="btn btn-success btn-lg" value="{{cote2}}" *ngFor="let cote2 of betgames()">{{cote2.cote2}}</button></div>
    </div>




    <div class="form-group">
      <label for="gain">Gains potentiel du pari:</label>
      <input type="text" class="form-control" id="gain" value="{{gains()}}" >
    </div>

    <div class="form-group">
      <label for="dtPari">Date de fin du pari:</label>
      <input type="datetime-local" class="form-control" placeholder="Entrer la date du pari" id="dtPari"
             [ngModel]="currentBet.betDate | date:'yyyy-MM-dd\'T\'HH:mm'" (ngModelChange)="currentBet.betDate=$event">
    </div>
  </div>
  <div class="card-footer">
    <div class="btn-group btn-group-lg">
      <button type="button" class="btn btn-primary" (click)="save()">
        <fa name="check"></fa>
      </button>
      <button type="button" class="btn btn-warning" (click)="cancel()">
        <fa name="undo" inverse="true"></fa>
      </button>
    </div>
  </div>
</div>
