<div class="card mt-3">
            <div class="card-header bg-primary text-white">Liste des Sports</div>
            <div class="card-body">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th scope="col">Nom du sport</th>
                  <th scope="col">Type de côtes</th>
                  <th scope="col">Durée de la rencontre</th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let sport of list()">
                  <td (click)="detail(content, sport.id)" style="cursor: pointer">{{sport.nom}}</td>
                  <td (click)="detail(content, sport.id)" style="cursor: pointer">{{sport.sportType}}</td>
                  <td (click)="detail(content, sport.id)" style="cursor: pointer">{{sport.duree}}</td>
                  <td>
                    <div class="btn-group btn-group-sm">
                      <button type="button" class="btn btn-info" (click)="edit(sport.id)">
                        <fa name="pencil"></fa>
                      </button>
                      <button type="button" class="btn btn-danger" (click)="delete(sport.id)">
                        <fa name="trash" inverse="true"></fa>
                      </button>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="card-footer">
                <button type="button" class="btn btn-success btn-lg" (click)="add()">
                  <fa name="plus"></fa>
                </button>
              </div>
            </div>
            </div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Détails du Sport</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-sm">
      <tbody>
      <tr>
        <th>Nom du sport</th>
        <td>{{modalSport.nom}}</td>
      </tr>
      <tr>
        <th>Type de côtes</th>
        <td>{{modalSport.sportType}}</td>
      </tr>
      <tr>
        <th>Durée de la Rencontre</th>
        <td>{{modalSport.duree}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<div class="card mt-3" *ngIf="currentSport">
  <div class="card-header bg-primary text-white">Edition d'un Sport</div>
  <div class="card-body">
    <div class="form-group">
      <label for="nom">Nom du sport:</label>
      <input type="text" class="form-control" placeholder="Entrer le nom du Sport" id="nom" [(ngModel)]="currentSport.nom">
    </div>
    <div class="form-group">
      <label for="typeSport">Type de côtes</label>
      <select class="form-control" placeholder="Entrer le Type de côtes" id="typeSport" [(ngModel)]="currentSport.sportType">
        <option value="{{tsport}}" *ngFor="let tsport of typeSport()">{{tsport}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="duree">Durée d'une rencontre:</label>
      <select class="form-control"  id="duree" [(ngModel)]="currentSport.duree">
        <option value="{{duree}}" *ngFor="let duree of duree()">{{duree}}</option>
      </select>
    </div>
    </div>
    </div>
<div class="card-footer">
  <div class="btn-group btn-group-lg">
    <button type="button" class="btn btn-primary" (click)="save()">
      <fa name="check"></fa>
    </button>
    <button type="button" class="btn btn-warning" (click)="cancel()">
      <fa name="undo" inverse="true"></fa>
    </button>
  </div>
</div>

